[color]
  ui = auto
[alias]
  st = status
  di = diff
  ci = commit
  br = branch
  llog = log --date=local
[rerere]
  enabled = true
[user]
	email = s.j.p.strong-08@student.lboro.ac.uk
	name = Sam Strong
